<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Direction
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20130121

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Rango</title>
<link href="http://fonts.googleapis.com/css?family=Arvo:400,700" rel="stylesheet" type="text/css" />
<link href="{{ STATIC_URL}}css/direction/default.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
        <div id="header">
                <div id="logo">
                        <h1><a href="/rango/">Rango</a></h1>
                        <p>How to Tango with Django</p>
                        <p>
                        {% if user.is_authenticated %}
                                Welcome {{ user.username }}  |
                                <a href="/rango/logout/">Logout</A>
                        {% else %}
                                <a href="/rango/register/">Register</A> |
                                <a href="/rango/login/">Login</A>
                        {% endif %}
                        </p>
                </div>
                <div id="menu">
                        <ul>
                                <li><a href="/rango/">Home</a></li>
                                <li><a href="/rango/search/">Search</a></li>
                                <li><a href="/rango/restricted" >Restricted</a></li>
                                <li><a href="/rango/about/" >About</a></li>

                        </ul>
                </div>
        </div>
        <div id="page">
                <div id="content">
                        {% block content %}{% endblock %}
                </div>
                <div id="sidebar">
                        <div id="tbox1">
                        {% block sidebar %}{% endblock %}
                        </div>
                </div>
        </div>

        <div id="footer">
                <p>Copyright (c) 2013 How To Tango With Django. All rights reserved. Design by <a href="http://www.freecsstemplates.org">FCT</a>. Photos by <a href="http://fotogrph.com/">Fotogrph</a>.</p>
        </div>
</div>
</body>
</html>
